<h1 class="center" mat-dialog-title>Статистика по региону "{{region.name}}"</h1>

<mat-dialog-content>
  <div class="container" style="width: 100%; height: 100%">
    <div class="row">
      <div class="col-6">
        <app-line-chart [chartParams]="generateOrphansInSubjectChart()"></app-line-chart>
      </div>

      <div class="col-6">
        <app-line-chart [chartParams]="generateOrphansNeedHousingChart()"></app-line-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-line-chart [chartParams]="generateNumberApartmentsIssuedChart()"></app-line-chart>
      </div>

      <div class="col-6">
        <app-line-chart [chartParams]="generateFinancingAmountChart()"></app-line-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-line-chart [chartParams]="generateHouseCostChart()"></app-line-chart>
      </div>

      <div class="col-6">
        <app-line-chart [chartParams]="generateEmployeesNumberChart()"></app-line-chart>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>
    Закрыть
  </button>
</mat-dialog-actions>
