<h1 mat-dialog-title>Статистика по региону "{{region.name}}":</h1>

<mat-dialog-content>
  <div class="container" style="width: 100%; height: 100%">
    <div class="row">
      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded; else loading"
                        [chartParams]="generateOrphansInSubjectChart()"></app-line-chart>
      </div>

      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded; else loading"
                        [chartParams]="generateOrphansNeedHousingChart()"></app-line-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded; else loading"
                        [chartParams]="generateApartmentsNumberIssuedChart()"></app-line-chart>
      </div>

      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded; else loading"
                        [chartParams]="generateFinancingAmountChart()"></app-line-chart>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded; else loading" [chartParams]="generateHouseCostChart()"></app-line-chart>
      </div>

      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded; else loading"
                        [chartParams]="generateEmployeesNumberChart()"></app-line-chart>
      </div>
    </div>

    <h2 class="center">Итоговые результаты:</h2>

    <div class="row">
      <div class="col-6">
        <app-line-chart *ngIf="isAllDataLoaded" [chartParams]="generateAsIsChart()"></app-line-chart>
      </div>

      <div class="col-6" *ngIf="isAllDataLoaded">
        <app-line-chart #dynamicChart [chartParams]="generateFinalChart()"></app-line-chart>

        <div class="row center">
          <mat-slider
            min="0"
            max="1000"
            [step]="50"
            [(ngModel)]="newlyIdentifiedOrphansValue"
            thumbLabel
            disabled="false"
            (change)="onChangeValue($event)"
            matTooltip="Вновь выявленные дети-сироты">
          </mat-slider>

          <mat-slider
            min="1300000000"
            [step]="100000000"
            [(ngModel)]="financingAmountValue"
            max="9000000000"
            [displayWith]="formatFinancingAmountValue"
            thumbLabel
            disabled="false"
            (change)="onChangeValue($event)"
            matTooltip="Общий объем финансирования">
          </mat-slider>

          <mat-slider
            min="26"
            [(ngModel)]="squareNormValue"
            max="36"
            thumbLabel
            disabled="false"
            (change)="onChangeValue($event)"
            matTooltip="Социальная норма жилья">
          </mat-slider>

          <mat-slider
            min="60000"
            [step]="1000"
            [(ngModel)]="pricePerSquareMeterValue"
            max="97000"
            [displayWith]="formatSquareNormValue"
            thumbLabel
            disabled="false"
            (change)="onChangeValue($event)"
            matTooltip="Стоимость кв. м. жилья">
          </mat-slider>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <mat-progress-bar mode="indeterminate" color="accent" class="center"></mat-progress-bar>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>
    Закрыть
  </button>
</mat-dialog-actions>
