<nav class="navbar-header">
  <mat-slide-toggle (change)="toggleLightTheme($event.checked)">Сменить цвет</mat-slide-toggle>

  <div class="flex-spacer"></div>

  <div *ngIf="authService.user | async as user; else login">
    <button mat-icon-button matTooltip="Выход"
            (click)="authService.googleSignOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    {{user.displayName}}
  </div>

  <ng-template #login>
    <button mat-button (click)="authService.googleSignIn()">Войти в аккаунт</button>
  </ng-template>
</nav>

<nav class="navbar navbar-show-small">
</nav>
