<nav class="navbar-header">
  <mat-slide-toggle (change)="toggleLightTheme($event.checked)">Сменить цвет</mat-slide-toggle>

  <a mat-button class="navbar-hide-small"></a>

  <div class="flex-spacer"></div>

  <button *ngIf="authService.user | async as user; else login" mat-icon-button matTooltip="Выход" (click)="authService.googleSignOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <ng-template #login>
    <button mat-button (click)="authService.googleSignIn()">Войти в аккаунт</button>
  </ng-template>
</nav>

<nav class="navbar navbar-show-small">
</nav>
