@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';
@import './styles/grid';


@include mat-core();


$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-purple);


$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);


.light-theme {
  $light-primary: mat-palette($mat-amber);
  $light-accent: mat-palette($mat-purple);


  $light-theme: mat-light-theme($light-primary, $light-accent);
  @include angular-material-theme($light-theme);
  @include app-theme($light-theme);
}

$loader-ring-size: 240px;
$loader-ring-border-size: 4px;

.relative {
  position: relative;
}

.loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: $loader-ring-size/-2 0 0 $loader-ring-size/-2;
  width: $loader-ring-size;
  height: $loader-ring-size;
}

.loader-ring-light {
  width: $loader-ring-size;
  height: $loader-ring-size;
  border-radius: $loader-ring-size;
  // box-shadow: 0 $loader-ring-border-size 0 lighten(#0087bf, 10%) inset;
  box-shadow: 0 $loader-ring-border-size 0 #ffc107 inset;
  animation: rotate-360 2s linear infinite;
}

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: $loader-ring-size;
  height: $loader-ring-size;
  border-radius: $loader-ring-size;
  //box-shadow: 0 0 10px $loader-ring-border-size rgba(black, .3) inset
}

@keyframes rotate-360 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
