@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';
@import './styles/grid';


@include mat-core();


$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-cyan);


$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);
