@import '~@angular/material/theming';
@import './app-theme';
@import './styles/general';
@import './styles/grid';


@include mat-core();


$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-purple);


$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include app-theme($theme);


.light-theme {
  $light-primary: mat-palette($mat-amber);
  $light-accent: mat-palette($mat-purple);


  $light-theme: mat-light-theme($light-primary, $light-accent);
  @include angular-material-theme($light-theme);
  @include app-theme($light-theme);
}
