$legend-icon-size: 24px;

.legend {
  height: $legend-icon-size;
  width: $legend-icon-size;
  cursor: pointer;
}

.legend-unknown {
  @extend .legend;
  background: black;
}

.legend-good {
  @extend .legend;
  background: #76FF03;
}

.legend-acceptable {
  @extend .legend;
  background: #FF8800;
}

.legend-critical {
  @extend .legend;
  background: #FF0000;
}
