<app-russia-map></app-russia-map>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="legend-unknown mat-elevation-z6 center"></div>

      <h6 class="center">По данному региону собрано недостаточно информации</h6>
    </div>

    <div class="col-3">
      <div class="legend-good mat-elevation-z6 center"></div>

      <h6 class="center">Выполнение плана укладывается в срок к 2026 году или раньше</h6>
    </div>

    <div class="col-3">
      <div class="legend-acceptable mat-elevation-z6 center"></div>

      <h6 class="center">Приемлемый срок реализации. Выполнение укладывается в рамки 2026-2030 годов</h6>
    </div>

    <div class="col-3">
      <div class="legend-critical mat-elevation-z6 center"></div>

      <h6 class="center">Срок реализации плана выходит за пределы 2030 года</h6>
    </div>
  </div>
</div>
