<footer class="footer">
  <div class="footer-list">
    <div class="footer-logo">
      <div class="logo">
        <img class="footer-angular-logo"
             src="../../../assets/logo.svg"
             alt="Анализатор данных">
        <span>Анализатор национального проекта "Доступное жилье"</span>
      </div>
    </div>

    <div class="footer-version">
      <span class="version">Текущая версия: 1.0</span>
    </div>

    <div class="footer-copyright">
      <div>
        <span>Школа Цифровой Экономики ©2020</span>
      </div>
    </div>
  </div>
</footer>
