.footer {
  padding: 12px;
  font-size: 14px;
  margin-top: 40px;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.footer-logo {
  flex: 1;
}

.footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
  }
}

@media screen and (max-width: 884px) {
  .footer-list {
    flex-direction: column;
  }
}
