table {
  width: 100%;
  margin: 16px auto;
}

.mat-header-cell, .mat-footer-cell {
  text-align: center;
}

.addition-form {
  width: 100%;
  height: 100%;
}

mat-form-field {
  width: 48px;
  margin-top: 8px;
}

.fw {
  margin-top: 8px;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
