<h1 mat-dialog-title>Добавление данных для региона</h1>

<mat-dialog-content>
  <mat-form-field class="fw">
    <mat-label>Регион</mat-label>
    <mat-select [(value)]="selectedRegionId" [formControl]="regionIdControl" (valueChange)="loadData(selectedRegionId)">
      <mat-option *ngFor="let region of regions" [value]="region.id">{{region.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <form class="addition-form" [formGroup]="addRegionDataForm"
        (ngSubmit)="onSubmitRegionDataForm(regionIdControl.value, addRegionDataForm.value.year, addRegionDataForm.value)">
    <div class="row">
      <h4 class="center">Таблица для статических данных:</h4>
    </div>

    <table mat-table [dataSource]="regionDataDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef> Год</th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Год</mat-label>
            <input matInput type="number" formControlName="year"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="orphansInSubject">
        <th mat-header-cell *matHeaderCellDef> Число детей-сирот в регионе</th>
        <td mat-cell *matCellDef="let element"> {{element.orphansInSubject}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Число детей-сирот в регионе</mat-label>
            <input matInput type="number" formControlName="orphansInSubject"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="newlyIdentifiedOrphans">
        <th mat-header-cell *matHeaderCellDef> Вновь выявленные дети-сироты</th>
        <td mat-cell *matCellDef="let element"> {{element.newlyIdentifiedOrphans}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Вновь выявленные дети-сироты</mat-label>
            <input matInput type="number" formControlName="newlyIdentifiedOrphans"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="orphansNeedHousingNegative">
        <th mat-header-cell *matHeaderCellDef> Дети-сироты, нуждающиеся в жилье (негативный прогноз)</th>
        <td mat-cell *matCellDef="let element"> {{element.orphansNeedHousingNegative}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Дети-сироты, нуждающиеся в жилье (негативный прогноз)</mat-label>
            <input matInput type="number" formControlName="orphansNeedHousingNegative"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="orphansNeedHousingPositive">
        <th mat-header-cell *matHeaderCellDef> Дети-сироты, нуждающиеся в жилье (позитивный прогноз)</th>
        <td mat-cell *matCellDef="let element"> {{element.orphansNeedHousingPositive}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Дети-сироты, нуждающиеся в жилье (позитивный прогноз)</mat-label>
            <input matInput type="number" formControlName="orphansNeedHousingPositive"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="apartmentsNumberIssued">
        <th mat-header-cell *matHeaderCellDef> Количество выданных квартир</th>
        <td mat-cell *matCellDef="let element"> {{element.apartmentsNumberIssued}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Количество выданных квартир</mat-label>
            <input matInput type="number" formControlName="apartmentsNumberIssued"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="regionalFunding">
        <th mat-header-cell *matHeaderCellDef> Региональное финансирование</th>
        <td mat-cell *matCellDef="let element"> {{element.regionalFunding}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Региональное финансирование</mat-label>
            <input matInput type="number" formControlName="regionalFunding"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="federalFunding">
        <th mat-header-cell *matHeaderCellDef> Федеральное финансирование</th>
        <td mat-cell *matCellDef="let element"> {{element.federalFunding}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Федеральное финансирование</mat-label>
            <input matInput type="number" formControlName="federalFunding"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="realHousingCost">
        <th mat-header-cell *matHeaderCellDef> Стоимость кв. м. жилья (реальная)</th>
        <td mat-cell *matCellDef="let element"> {{element.realHousingCost}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Стоимость кв. м. жилья (реальная)</mat-label>
            <input matInput type="number" formControlName="realHousingCost"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="minstroyHousingCost">
        <th mat-header-cell *matHeaderCellDef> Стоимость кв. м. жилья (по минстрою)</th>
        <td mat-cell *matCellDef="let element"> {{element.minstroyHousingCost}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Стоимость кв. м. жилья (по минстрою)</mat-label>
            <input matInput type="number" formControlName="minstroyHousingCost"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="employeesNumber">
        <th mat-header-cell *matHeaderCellDef> Число работников, занимающихся вопросом</th>
        <td mat-cell *matCellDef="let element"> {{element.employeesNumber}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Число работников, занимающихся вопросом</mat-label>
            <input matInput type="number" formControlName="employeesNumber"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button type="submit" color="black" matTooltip="Добавить" [disabled]="!addRegionDataForm.valid">
            <i class="material-icons">
              done
            </i>
          </button>
        </th>

        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button type="button" matTooltip="Удалить"
                  (click)="onDeleteRegionData(regionIdControl.value, element.year)">
            <i class="material-icons">
              close
            </i>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="regionDataColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: regionDataColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="regionDataColumns"></tr>
    </table>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>
  </form>

  <div class="container">
    <h4 class="center">Указания, к заполнению полей формы:</h4>

    <div class="row">
      <div class="col-4 center">
        <mat-icon color="warn">create</mat-icon>
        <h6 class="center">Все поля должны быть заполнены (для быстрого перехода к другому полю могут использоваться
          клавиши "Tab" и "Shift + Tab")</h6>
      </div>

      <div class="col-4 center">
        <mat-icon color="warn">warning</mat-icon>
        <h6 class="center">Поля должны иметь корректные значения, в противном случае функция добавления останется
          блокированной</h6>
      </div>

      <div class="col-4 center">
        <mat-icon color="warn">show_chart</mat-icon>
        <h6 class="center">Для построения графиков необходимо заполнить период 2016-2030 годов, с указанием
          прогнозирующих коэффициентов</h6>
      </div>
    </div>
  </div>

  <form class="addition-form" [formGroup]="addCoefficientsForm"
        (ngSubmit)="onSubmitCoefficientsForm(regionIdControl.value, addCoefficientsForm.value)">
    <div class="row">
      <h4 class="center">Таблица прогнозирующих коэффициентов:</h4>
    </div>

    <table mat-table [dataSource]="coefficientsDataDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="orphansInSubjectCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент числа детей-сирот в регионе</th>
        <td mat-cell *matCellDef="let element"> {{element.orphansInSubjectCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="orphansInSubjectCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="newlyIdentifiedOrphansCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент вновь выявленных детей-сирот</th>
        <td mat-cell *matCellDef="let element"> {{element.newlyIdentifiedOrphansCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="newlyIdentifiedOrphansCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="orphansNeedHousingNegativeCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент детей-сирот, нуждающихся в жилье (негативный прогноз)</th>
        <td mat-cell *matCellDef="let element"> {{element.orphansNeedHousingNegativeCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="orphansNeedHousingNegativeCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="orphansNeedHousingPositiveCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент детей-сирот, нуждающихся в жилье (позитивный прогноз)</th>
        <td mat-cell *matCellDef="let element"> {{element.orphansNeedHousingPositiveCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="orphansNeedHousingPositiveCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="apartmentsNumberIssuedCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент количества выданных квартир</th>
        <td mat-cell *matCellDef="let element"> {{element.apartmentsNumberIssuedCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="apartmentsNumberIssuedCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="regionalFundingCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент регионального финансирования</th>
        <td mat-cell *matCellDef="let element"> {{element.regionalFundingCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="regionalFundingCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="federalFundingCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент федерального финансирования</th>
        <td mat-cell *matCellDef="let element"> {{element.federalFundingCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="federalFundingCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="realHousingCostCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент стоимости кв. м. жилья (реальной)</th>
        <td mat-cell *matCellDef="let element"> {{element.realHousingCostCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="realHousingCostCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="minstroyHousingCostCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент стоимости кв. м. жилья (по минстрою)</th>
        <td mat-cell *matCellDef="let element"> {{element.minstroyHousingCostCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="minstroyHousingCostCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="employeesNumberCoefficient">
        <th mat-header-cell *matHeaderCellDef> Коэффициент числа работников, занимающихся вопросом</th>
        <td mat-cell *matCellDef="let element"> {{element.employeesNumberCoefficient}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="employeesNumberCoefficient"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="squareNorm">
        <th mat-header-cell *matHeaderCellDef> Социальная норма жилья</th>
        <td mat-cell *matCellDef="let element"> {{element.squareNorm}} </td>
        <td mat-footer-cell *matFooterCellDef>
          <mat-form-field>
            <mat-label>Значение</mat-label>
            <input matInput type="number" formControlName="squareNorm"/>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button type="submit" color="black" matTooltip="Добавить" [disabled]="!addCoefficientsForm.valid">
            <i class="material-icons">
              done
            </i>
          </button>
        </th>

        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button type="button" matTooltip="Удалить"
                  (click)="onDeleteCoefficients(regionIdControl.value)">
            <i class="material-icons">
              close
            </i>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="coefficientDataColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: coefficientDataColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="coefficientDataColumns" [hidden]="!isDataEmpty()"></tr>
    </table>
  </form>

  <div class="container">
    <h4 class="center">Указания, к заполнению полей коэффициентов:</h4>

    <div class="row">
      <div class="col-4 center">
        <mat-icon color="warn">create</mat-icon>
        <h6 class="center">Все поля должны быть заполнены (для быстрого перехода к другому полю могут использоваться
          клавиши "Tab" и "Shift + Tab")</h6>
      </div>

      <div class="col-4 center">
        <mat-icon color="warn">warning</mat-icon>
        <h6 class="center">Коэффициент - неотрицательное число. Для неизменяемой величины он равен "1"</h6>
      </div>

      <div class="col-4 center">
        <mat-icon color="warn">show_chart</mat-icon>
        <h6 class="center">Для построения динамических графиков все коэффициенты должны быть заполнены</h6>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>
    Закрыть
  </button>
</mat-dialog-actions>
